<h1>査定結果</h1>
<p><%= current_user.name %>さんの物件</p>
<br>
<% @assessments.each do |assess| %>
    <b><%= Agency.find(assess.agency_id).name %></b>
    <p>金額：<span><%= assess.temp_price %></span>円</p>
    <br>
<% end %>