<h1>admin画面</h1>

<p>不動産リスト</p>
<p>ユーザーリスト</p>
<%= link_to '対応リスト', admin_question_path %>
<div>
<h3>---------------------</h3>
<%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %>
</div>