<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するためのリンクをリクエストされました。以下のリンクから行うことができます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたがパスワードの変更を要求していないなら、このメールを無視してください。</p>
<p>パスワードは、上記のリンクにアクセスして新しいパスワードを作成するまで変更されません。</p>
