<div class="all_contents">
  <h1>鍵郵送合意画面</h1>
  <p>鍵を渡すため、以下のことを確認してください。</p>
  <div class="box_head">
    <p>
      1. 郵送の時点での鍵の紛失については、御社は一切責任を負いかねます。。<br/>
      2. ...
    </p>
  </div>
  <%= button_to "合意する", docs_agree_path( agreed: "true" ), { method: :post, class: 'btn btn-primary'}%>
  <%= button_to "合意しない", docs_agree_path( agreed: "false" ), { method: :post, class: 'btn btn-primary change_red'} %>
</div>