<% if current_user.offers.present? %>
  <div class='set-center'>
	  <h1>売買契約締結先(購入希望者)リスト</h1>
  </div>
  <table class='table-set'>
    <tr>
      <th>お名前</th>
      <th>買取希望金額</th>
      <th>買い手からのヒアリング</th>
      <th>決定</th>
      </tr>
	<% current_user.offers.each do |o| %>
    <tr>
      <td><%= o.candidate_buyer.name %></td>
      <td><%= o.price %></td>
      <td><%= o.candidate_buyer.hearing %></td>
      <td><%= button_to "売買契約を締結する",
          buy_contracts_path(buyer_id: o.candidate_buyer.id), 
          data: { confirm: "#{o.candidate_buyer.name}さんで本当によろしいですか？" },
          method: :post %></td>
    </tr>
  <% end %>
  </table>
<% else %>
	<h1>まだ購入希望者は現れていません</h1>
<% end %>