<h1>鍵・書類郵送の手順説明ページ</h1>
<p>・お客様の住所まで、必要書類を郵送いたします。</p>
<p>（お申し込みから、5営業日以内に発送いたします）</p>
<p>・書類に必要事項を記入いただき、同封の返信用封筒で鍵と書類をご返送ください。</p>
<p>送付先：〒000-0000　東京都港区六本木4丁目00-0　株式会社 らくらく不動産売却</p>
<%= link_to "ホームへ", home_path %>
