<div class='center'>
  <div class='title mt-3'>
    <h1>鍵・書類郵送の手順説明</h1>
  </div>
  <div class='left-set'>
    <p>・お客様の住所まで、必要書類を郵送いたします。</p>
    <p>（お申し込みから、<span class='font_red'>5営業日以内</span>に発送いたします）</p>
    <p>・書類に必要事項を記入いただき、同封の返信用封筒で<span class='font_red'>鍵</span>と<span class='font_red'>書類</span>をご返送ください。</p>
    <div class='overline'>
      <p>送付先：〒000-0000　東京都港区六本木4丁目00-0　株式会社 らくらく不動産売却</p>
    </div>
  </div>
</div>
