/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
    overflow: hidden;
    position: relative;
    width: 100%;
 }
 .row-right {
    display: flex;
    justify-content: flex-end;
 }
 .header-logo {
    height: 100%;
    width: auto;
    position: absolute;
    margin-left: clamp(0px, 1vw, 40px);
    top: 0;
 }
 .avatar {
    height: 37px;
}

 footer {
     background-color: #F4F8F2;
 }
 .footer-logo {
    height: 60px;
    width: auto;
    margin-left: clamp(0px, 1vw, 40px);
    top: 0;
 }
 .info {
     font-size: 12px;
     margin: 0 30px;
 }

