/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #fafafa;
}

.btn {
    border-radius: 5px;
}

/* btn-primary --- 同意ボタン、他ページリンクボタンなど、メインで使うボタン --- */
.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
   background-color: #5CB04C !important;
   border-color: #5CB04C !important;
   box-shadow: #519e41;
}
.btn-primary:hover {
   background-color: #519e41 !important;
   border-color: #519e41 !important;
}

/* btn-outline-primary --- キャンセルボタンなど、サブ（メインより目立たせたくない場所）で使うボタン --- */
.btn-outline-primary, .btn-outline-primary:focus, .btn-outline-primary:active{
   border-color: #555555 !important;
   color: #555555 !important;
}
.btn-outline-primary:hover {
   background-color: #cccccc !important;
   border-color: #cccccc !important;
   color: rgb(36, 36, 36) !important;
}

/* btn-link --- キャンセルボタン、戻るボタンなど、一番目立たせたくない場所で使うボタン --- */
.btn-link, .btn-link:active, .btn-link:visited, .btn-link:focus {
   color: #555555 !important;
}
.btn-link:hover {
   color: #5CB04C !important;
}

/* alert --- 画面上に出すアラートに使う --- */
.alert {
   border: none;
   color: #555555;
   font-weight: bold;
}
.alert-success {
   background-color: #deeeda;
}
.alert-danger {
   background-color: rgb(248, 214, 207);
}

/* 仮置きのテンプレート フォーム全体・背景の設定に使う */
/* .form-template {
   width: clamp(200px, 80vw, 500px);
   padding: 50px 30px;
   background-color: #ffffff;
} */

/* form-control, form-select --- フォーム内のテキストボックス、セレクトボックスに使う --- */
.form-control, .form-select {
   background-color: #ffffff !important;
   margin-bottom: 10px !important;
}
.form-label {
   font-weight: bold;
}

 .navbar {
    overflow: hidden;
    position: relative;
    width: 100%;
 }
 .row-right {
    display: flex;
    justify-content: flex-end;
 }
 .header-logo {
    height: 100%;
    width: auto;
    position: absolute;
    margin-left: clamp(0px, 1vw, 40px);
    top: 0;
 }
 .avatar {
    height: 37px;
}

 footer {
     background-color: #F4F8F2;
 }
 .footer-logo {
    height: 60px;
    width: auto;
    margin-left: clamp(0px, 1vw, 40px);
    top: 0;
 }
 .info {
     font-size: 12px;
     margin: 0 30px;
 }
