// Place all the styles related to the Assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.assessment-button {
  display: flex;
}
.assessment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}