// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table-set{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
  th:first-child{
    border-radius: 5px 0 0 0;
  }
  th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #54903c;
  }
  th{
    text-align: center;
    color:white;
    background: linear-gradient(#7dcf11, #e0b90b,);
    border-left: 1px solid #54903c;
    border-top: 1px solid #54903c;
    border-bottom: 1px solid #54903c;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 6%;
    padding: 10px 0;
  }
  td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 6%;
    padding: 10px 0;
  }
  td:last-child{
    border-right: 1px solid #a8b7c5;
  }
  tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
}
.set-center{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.set-right-url{
  margin-top: 10px;
  text-align: right;
  margin-bottom: 5px;
}
.title{
  text-align: center;
}