// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all_contents{
  text-align: center;
}
.square {
	width: 150px;
	height: 150px;
}
.btn_margin{
  margin: 10px;
}
.box_head{

  height: 350px;

  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;

  border: solid 3px #000000;

  background-color: rgb(221, 220, 220);
  p{
    color:black;
    text-align: left;
    }
}