// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all_contents{
  text-align: center;
}
.square {
	width: 150px;
	height: 150px;
}
.btn_margin{
  margin: 10px;
}
.box_head{

  height: 350px;

  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;

  border: solid 3px #000000;

  background-color: rgb(221, 220, 220);
  p{
    color:black;
    text-align: left;
    }

  .form-body {
    background-color: rgb(250, 250, 250);
  }
}

.form-vector {
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    margin: 0;
    width: 55vw;
}

.form-row {
    display: flex;
}

.form-template {
    min-height: clamp(500px, 80vh, 1000px);
}